{% extends "base.html" %}

{% block content %}

<div class="container" style="width:450px; margin-top:50px;">
    <h1 style="margin-bottom: 30px;">Change password</h1>
    <form method="POST">
        <div class="form-group">
          <label for="oldpassword">Old password</label>
          <input name="oldpassword" id="oldPassword" type="password" class="form-control" aria-describedby="oldPassword" placeholder="Old password">
          
        </div>
        <div class="form-group">
          <label for="New password">New Password</label>
          <input name="newpassword" id="newpassword" type="password" class="form-control" placeholder="Password">
        </div>

    <div class="form-group">
      <label for="New password">Confirm New Password</label>
      <input name="confirmpassword" id="confirmpassword" type="password" class="form-control" placeholder="Password">
    </div>
        
        <button type="submit" class="btn btn-primary">Change password</button>
      </form>
    </div>




{% endblock %}